/*main container surrounding the profiles*/
.detail-container
{
    width: 100%;
    height: 90vh;
    background-color: #fbf4ea;
    padding: 50px 0px; /*height width*/
    overflow: auto;
    font-size: 14px;
    /* flex box */
    display: grid; 
    justify-content: center;
    /* border: 2px solid red; */
} 
.detail-container span {
    font-weight: bold;
    font-size: 16px;
}

/* Removing an color or decoration on the scrollbar*/
.detail-container::-webkit-scrollbar{
    width: 8px;
  }
  
.detail-container::-webkit-scrollbar{
    background: transparent;
    border: none; 
  }
  
.detail-container::-webkit-scrollbar{
    background: transparent;
} 

/* List header */
.detail-header
{
    padding: 20px;
    font-size: 20px;
    width: 1300px;
    height: 100px;
}

.detail-rows {
    display: block;
    margin-bottom: 50px; /*adding space between every row*/
    border-radius: 10px;
    background-color: #FAF9F6;
    /*creating a flex box */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px 20px; /*height, width*/
    width: 1300px;
    height: 300px;
    gap: 1em;
    box-shadow: 6px 8px 8px rgba(0, 0, 0, 0.181);
    /* border: 2px solid red; */
}

.detail-container ul
{
    list-style-type: none;
}
  /* containing name, gender, age, and breed  */
  .petdetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    width: 250px;
    /* border: 2px solid green; */
  }
  
  .petdetails div {
    background: none;
  }
  