@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

/* Affects everything */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Sour Gummy', sans-serif;
  font-weight: 400;
}

/* Affects on the consistent screen in the back */
body
{
  background-color: #7ea9aa;
  height: 100vh;
  width: 100vw;

}

/* General CSS for all the pages*/
 .pets, .schedule, .tips {
  display: flex;
  height: 100vh;
  width: 100vw;
  text-align: center; /* might have to edit this after we code the other pages */
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background-color: #fbf4ea;
  color: #151414;
}

/* Removing an color or decoration on the scrollbar*/
.home::-webkit-scrollbar, .pets::-webkit-scrollbar, .schedule::-webkit-scrollbar, .tips::-webkit-scrollbar {
  width: 8px;
}

.home::-webkit-scrollbar-thumb, .pets::-webkit-scrollbar-thumb, .schedule::-webkit-scrollbar-thumb, .tips::-webkit-scrollbar-thumb {
  background: transparent;
  border: none; 
}

.home::-webkit-scrollbar-track, .pets::-webkit-scrollbar-track, .schedule::-webkit-scrollbar-track, .tips::-webkit-scrollbar-track {
  background: transparent;
}

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #fbf4ea;
}

.banner{
  background-color: hwb(20 69% 0%);
  width: 100vw;
  height: 1000px;
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 20px;
}

.logo-text-container{
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

 .welcome{
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
} 

.logo{
  width: 300px;
  height: 300px;
  background-color: #fff4de;
  border-radius: 100%;
  border-style: dashed;
  border-color: #f57373;
  border-width: 6px;
  margin-top: 10px;
} 

.logoContainer{
  width: 500px;
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoContainer h1{
  width: 500px; 
  text-align: center;
  font-size: 40px;
  color: #cb5f5f; 
}


.rectangle{
  width: 800px;
  height: 100%;
  background-color: #FFDFA0;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.innerRectangle{
  width: 100%;
  height: 100%;
  background-color: #fff4de;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border: 10px solid #FFDFA0;
  padding:15px;
  display: flex;
  flex-direction: column;
  text-align: center;

}

.innerRectangle p{
  margin-top:10px;

}

.innerRectangle h1{
  color: #f57373;
}

.cat{
  font-size: 40px;
  color: #f57373;
}


.banner2{
  background-color: #FFDFA0;
  width: 100vw;
  height: 1000px;
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 2rem;
  padding: 30px;
}

.square2{
  display: flex;
  flex-direction:column;
  justify-content: center;
  width: 400px;
  height: 300px;
  background-color: #8ec4c5e0;
  border-radius: 40px;
  position:relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;

}

.innerRectangle1 p{
  margin-top: 10px;
  font-size: 20px;
  color: black;
  text-align: center;
  padding:10px;
  font-weight: 350;
  
}

.square{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 300px;
  background-color:#f57373;
  text-align: center;
  position: absolute;
  width: 400px;
  height: 300px;
  border-radius: 40px;
  position:relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.square h1{
  color: rgba(255, 255, 255, 0.854);
}

.navbar {   /*horizontal line at top of screen */
  background: #FFDFA0;
  height: 150px;
  width: 100vw; 
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* The hamburger icon */
.menu-bars {
  margin-top: 5.5rem;
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: #000;
}

.nav-menu {
  background: #7ea9aa;
  width: 300px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 12; /*values from 11-20 in z-index are for navigation elements*/
}

.nav-menu.active {
  left: 0;
  transition: 450ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #151414;
  font-size: 25px;
  width: 95%;
  height: 145%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #d46868;
  color: #fff;
}

.nav-menu-items {
  width: 100%;
}

/* The top of the nav bar, where you toggle */
.navbar-toggle {
  background-color: #7ea9aa;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.tabs {
  margin-top: 3rem;
}

/* SCHEDULE PAGE */
.schedule {
  margin: auto;
}

/* CALENDAR CSS */
#calendar, #event-box {
  position: relative;
  height: 86%;
  width: 40%;
  padding: 0.5em;
  background-color: #FAF9F6; /*off white color*/
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(5, 5, 5, 0.1);
  /* border: 2px solid red; */
}

#calendar {
  margin-right: 40px;
}

#event-box {
  margin-left: 40px;
}

/* arrows, month-year & tiles */
.react-calendar button {
  border: 0;
  outline: none;
}

/* changes cursor from arrow to pointer when hovering above tile */
.react-calendar button:enabled:hover {
  cursor: pointer;
}

/* top part of calendar (arrows + month/year) */
.react-calendar__navigation {
  display: inline-flex; /* originally flex */
  height: auto;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}


/* arrows + month/year buttons at top of calendar */
.react-calendar__navigation button {
  min-width: 44px;
  font-size: 1.3em;
  background: transparent;
  display: block;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* date tiles */
.react-calendar__tile {
  background: transparent;
  border-radius: 8px;
  padding: 11px;
  transition: background-color 0.2s ease;
  font-size: 30px;
}

/* today's date */
.react-calendar__tile--now {
  background-color: #7ea9aa !important; /* starts with today's date by default so we need to overwrite the colour for active dates */
  color: white !important;  /* !important overwrites the colour for weekend dates */
}

/* when hovering over the date tiles */
.react-calendar__tile:enabled:hover {
  background-color: #ffdfa0;
}

/* colour when clicked */
.react-calendar__tile--active {
  background-color: #d46868;
  color: white !important;  /* !important overwrites the colour for weekend dates */
}

/* days of the week row */
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  text-decoration: none;  /* NEED TO FIX THIS: to remove the default underline */
}

/* weekend dates */
.react-calendar__month-view__days__day--weekend {
  color: #d33333;
}

/* dates from previous month & next month */
.react-calendar__month-view__days__day--neighboringMonth {
  color: #999da0;
}

#event-date {
  font-size: 1.5em;
  margin-top: 0.5em;
}