body {
    display: flex;
    justify-content: center;
    align-items: center; 

}

.Wrapper {

    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

}